---
layout: default
---    
<div id="content-post" class="entry">
	<div class="full">
	  <h1 class="entry-title">
		{{ page.title }}
	  </h1>
	  <div class="entry-content">
		{{ content }}
		<div class="clear"></div>
	  </div>
	  <p class="alt-font tight">
		Posted in&nbsp;
		{% for category in page.categories %}
		<a href="/categories/{{ category }}" title="{{ category }}" rel="category tag">{{ category }}</a>
		{% endfor %}
		&nbsp;&nbsp;&nbsp;
		<img src="/images/tag.png" /> &nbsp;
		{% for tag in page.tags %}
			<a href="/tags/{{ tag }}/">{{ tag }}</a> &nbsp;
		{% endfor %}
	  </p>
		
	  <p class="by-line">
		<span class="date full-date">
		  <abbr class="published" title="{{ page.date }}">{{ page.date | date_to_string }}</abbr>
		</span>
	  </p>
	  <div class="clear"></div>
	</div>
</div>		